################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SevenWestTest/v16/Server/sqlite3
/SevenWestTest/obj
